# Session 1: Foundations of Data Analysis, Python Fundamentals, and Data Ethics

**Module:** Data Insights and Visualization  
**Level:** 7 | **Credits:** 10  
**Learning Outcomes Addressed:** LO1, LO4

---

## üìã Session Overview

Welcome to the Data Insights and Visualization module! In this first session, we'll establish the foundational knowledge and skills needed for effective data analysis and visualization. By the end of this session, you'll understand the current data landscape, have a working Python environment, and appreciate the critical importance of data ethics.

-----------

### Learning Objectives
#### By the end of this session, you will be able to:

- **Explain the role of data analytics in modern business decision-making**
- **Set up and navigate a Python data analysis environment**
- **Identify different data types and quality dimensions**
- **Apply fundamental data ethics principles**
- **Perform basic data exploration using Python**

-----------

## üåç Part 1: The Data Revolution in Business

### 1.1 Course Introduction

Welcome to **Data Insights and Visualization** - a journey that will transform how you approach data-driven decision making. In today's digital economy, organizations generate and collect vast amounts of data every second. The ability to extract meaningful insights from this data has become a critical competitive advantage.

#### Module Learning Outcomes
- **LO1:** Apply statistical and programming techniques to analyse complex structured and unstructured datasets
- **LO2:** Design and implement data visualisations using contemporary tools and principles of perception
- **LO3:** Critically interpret data patterns and trends for effective communication and decision-making
- **LO4:** Evaluate data quality, integrity, and ethics in the data analysis lifecycle
- **LO5:** Synthesise business intelligence from data to support strategy formulation and problem solving

-----------

### 1.2 Current State of Data Analytics

The global data sphere is expected to grow from 33 zettabytes in 2018 to 175 zettabytes by 2025. This explosion of data, often referred to as "Big Data," is characterized by:

- **Volume:** Massive amounts of data generated every second
- **Velocity:** Real-time data processing requirements
- **Variety:** Structured, semi-structured, and unstructured data formats
- **Veracity:** Ensuring data quality and reliability
- **Value:** Extracting actionable insights for business impact

#### Real-World Applications
- **Retail:** Customer behavior analysis, inventory optimization
- **Healthcare:** Predictive diagnostics, treatment personalization
- **Finance:** Risk assessment, fraud detection
- **Manufacturing:** Predictive maintenance, quality control
- **Marketing:** Campaign optimization, customer segmentation

### 1.3 Career Opportunities in Data Visualization

The field offers diverse career paths:
- **Data Analyst:** Focus on descriptive analytics and reporting
- **Business Intelligence Analyst:** Strategic insights and dashboard creation
- **Data Scientist:** Advanced analytics and machine learning
- **Data Visualization Specialist:** Design and communication expert
- **Chief Data Officer:** Strategic data leadership

---

## üìä Part 2: Understanding Data Types and Structures

### 2.1 Structured vs Unstructured Data

#### Structured Data
- **Definition:** Data organized in a predefined format (rows and columns)
- **Examples:** Relational databases, CSV files, Excel spreadsheets
- **Characteristics:** Easy to analyze, query, and visualize
- **Storage:** Typically 20% of organizational data

#### Semi-Structured Data
- **Definition:** Data with some organizational properties but not fully structured
- **Examples:** JSON, XML, NoSQL databases
- **Characteristics:** Flexible schema, self-describing

#### Unstructured Data
- **Definition:** Data without predefined structure or organization
- **Examples:** Text documents, images, videos, social media posts
- **Characteristics:** Requires preprocessing, growing rapidly
- **Storage:** Typically 80% of organizational data

### 2.2 Data Quality Dimensions

High-quality data is essential for reliable analysis. The key dimensions include:

1. **Accuracy:** Data correctly represents the real-world entity
2. **Completeness:** All required data is present
3. **Consistency:** Data is uniform across systems and time
4. **Timeliness:** Data is up-to-date and available when needed
5. **Validity:** Data conforms to defined formats and business rules
6. **Uniqueness:** No unnecessary duplication of data

### 2.3 Common Data Formats

- **CSV (Comma-Separated Values):** Simple, widely supported
- **JSON (JavaScript Object Notation):** Web-friendly, hierarchical
- **XML (eXtensible Markup Language):** Self-describing, verbose
- **Parquet:** Columnar storage, optimized for analytics
- **Database formats:** SQL Server, MySQL, PostgreSQL, MongoDB

---

## üêç Part 3: Python Environment Setup and Basics

### 3.1 Setting Up Your Development Environment

#### Required Software
1. **Python 3.8+** - Programming language
2. **Jupyter Notebook** - Interactive development environment
3. **Essential Libraries:**
   - `pandas` - Data manipulation and analysis
   - `numpy` - Numerical computing
   - `matplotlib` - Basic plotting
   - `seaborn` - Statistical visualization

#### Installation Steps

```bash
# Using pip (Python package installer)
pip install jupyter pandas numpy matplotlib seaborn

# Using conda (Anaconda distribution)
conda install jupyter pandas numpy matplotlib seaborn

# Or install Anaconda distribution (recommended for beginners)
# Download from: https://www.anaconda.com/products/distribution
```

#### Starting Jupyter Notebook

```bash
# Navigate to your project directory
cd /path/to/your/project

# Start Jupyter Notebook
jupyter notebook

# Or Jupyter Lab (more advanced interface)
jupyter lab
```

### 3.2 Python Fundamentals for Data Analysis

#### Essential Data Structures

In [4]:
# Lists - Ordered collection of items
sales_data = [100, 150, 200, 175, 300]
product_names = ['Widget A', 'Widget B', 'Widget C']

In [5]:
# Dictionaries - Key-value pairs
customer = {
    'name': 'John Doe',
    'age': 35,
    'purchases': [100, 250, 75]
}

In [6]:
# NumPy Arrays - Efficient numerical operations
import numpy as np
revenue = np.array([1000, 1200, 1100, 1400, 1300])

In [7]:
# Pandas DataFrames - Excel-like data structure
import pandas as pd
df = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D'],
    'Sales': [100, 150, 200, 175],
    'Region': ['North', 'South', 'East', 'West']
})

#### Basic Operations and Functions

In [9]:
# Descriptive statistics
df['Sales'].mean()    # Average sales

156.25

In [10]:
df['Sales'].median()  # Median sales

162.5

In [11]:
df['Sales'].std()     # Standard deviation

42.69562819149833

In [12]:
# Data inspection
df.head()        # First 5 rows

  Product  Sales Region
0       A    100  North
1       B    150  South
2       C    200   East
3       D    175   West

In [13]:
df.info()        # Data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  4 non-null      object
 1   Sales    4 non-null      int64
 2   Region   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [14]:
df.describe()    # Summary statistics

            Sales
count    4.000000
mean   156.250000
std     42.695628
min    100.000000
25%    137.500000
50%    162.500000
75%    181.250000
max    200.000000

In [15]:
df.shape         # Number of rows and columns

(4, 3)

In [16]:
# Filtering and selection
high_sales = df[df['Sales'] > 150]

In [18]:
north_sales = df[df['Region'] == 'North']
north_sales

  Product  Sales Region
0       A    100  North

### 3.3 Reading and Writing Data Files

In [ ]:
# Reading different file formats
df_csv = pd.read_csv('sales_data.csv')
df_excel = pd.read_excel('sales_data.xlsx', sheet_name='Q1')
df_json = pd.read_json('customer_data.json')

In [19]:
# Database connections (example)
# import sqlite3
# conn = sqlite3.connect('company_database.db')
# df_db = pd.read_sql_query('SELECT * FROM sales', conn)

In [ ]:
# Writing data files
df.to_csv('processed_data.csv', index=False)
df.to_excel('report.xlsx', sheet_name='Summary', index=False)
df.to_json('output.json', orient='records')

## üõ°Ô∏è Part 4: Data Ethics and Governance

### 4.1 Fundamental Ethical Principles

Data ethics is not just about compliance‚Äîit's about building trust and ensuring responsible use of data. The core principles include:

#### Privacy
- **Principle:** Individuals have the right to control their personal information
- **Application:** Anonymization, pseudonymization, data minimization
- **Example:** Removing personally identifiable information before analysis

#### Transparency
- **Principle:** Be open about data collection, use, and decision-making processes
- **Application:** Clear data collection notices, algorithm explainability
- **Example:** Explaining how credit scores are calculated

#### Fairness and Non-discrimination
- **Principle:** Avoid bias and ensure equitable treatment
- **Application:** Regular bias audits, diverse training data
- **Example:** Ensuring hiring algorithms don't discriminate by gender or ethnicity

#### Accountability
- **Principle:** Take responsibility for data practices and their consequences
- **Application:** Data governance frameworks, audit trails
- **Example:** Maintaining records of data processing decisions

### 4.2 GDPR and Legal Compliance

The General Data Protection Regulation (GDPR) sets the global standard for data protection:

#### Key Requirements
- **Lawful basis** for processing personal data
- **Consent** must be freely given, specific, and informed
- **Data subject rights** including access, rectification, and erasure
- **Privacy by design** in system development
- **Data Protection Impact Assessments** for high-risk processing

#### Practical Implementation

In [ ]:
# Example: Anonymizing personal data
def anonymize_data(df):
    # Remove direct identifiers
    df = df.drop(['name', 'email', 'phone'], axis=1)
    
    # Generalize sensitive attributes
    df['age_group'] = pd.cut(df['age'], bins=[0, 25, 45, 65, 100], 
                            labels=['18-25', '26-45', '46-65', '65+'])
    df = df.drop(['age'], axis=1)
    
    return df

### 4.3 Bias and Fairness in Data Representation

#### Types of Bias
1. **Historical Bias:** Existing inequalities reflected in historical data
2. **Representation Bias:** Certain groups underrepresented in data
3. **Measurement Bias:** Systematic errors in data collection
4. **Evaluation Bias:** Using inappropriate benchmarks
5. **Aggregation Bias:** Assuming one model fits all groups

#### Detecting and Mitigating Bias

In [20]:
# Example: Checking for representation bias
def check_representation(df, protected_attribute):
    distribution = df[protected_attribute].value_counts(normalize=True)
    print("Data distribution:")
    print(distribution)
    
    # Flag if any group represents less than 10% of data
    underrepresented = distribution[distribution < 0.1]
    if len(underrepresented) > 0:
        print(f"Warning: Underrepresented groups: {underrepresented.index.tolist()}")

# Usage
check_representation(df, 'gender')

KeyError: 'gender'

## üî¨ Part 5: Hands-on Data Exploration

### 5.1 Loading Your First Dataset

Let's work with a sample sales dataset to practice our skills:

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Create sample data for demonstration
np.random.seed(42)
n_records = 1000

sample_data = pd.DataFrame({
    'customer_id': range(1, n_records + 1),
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Books', 'Home'], n_records),
    'purchase_amount': np.random.gamma(2, 50, n_records),
    'customer_age': np.random.normal(40, 15, n_records),
    'region': np.random.choice(['North', 'South', 'East', 'West'], n_records),
    'purchase_date': pd.date_range('2023-01-01', periods=n_records, freq='D')[:n_records]
})

# Add some missing values to make it realistic
sample_data.loc[sample_data.sample(50).index, 'customer_age'] = np.nan
sample_data.loc[sample_data.sample(30).index, 'purchase_amount'] = np.nan

print("Dataset loaded successfully!")
print(f"Shape: {sample_data.shape}")
sample_data.head()

Dataset loaded successfully!
Shape: (1000, 6)

,customer_id,product_category,purchase_amount,customer_age,region,purchase_date
0,1,Books,107.397463,40.287217,West,2023-01-01
1,2,Home,272.579841,38.726653,East,2023-01-02
2,3,Electronics,37.753208,21.350141,South,2023-01-03
3,4,Books,119.290405,25.577674,East,2023-01-04
4,5,Books,23.861997,52.462785,West,2023-01-05

### 5.2 Basic Data Inspection

In [22]:
# Basic information about the dataset
print("=== DATASET OVERVIEW ===")
print(f"Number of rows: {len(sample_data)}")
print(f"Number of columns: {len(sample_data.columns)}")
print(f"Data types:\n{sample_data.dtypes}")

print("\n=== MISSING VALUES ===")
missing_values = sample_data.isnull().sum()
print(missing_values[missing_values > 0])

print("\n=== BASIC STATISTICS ===")
print(sample_data.describe())

=== DATASET OVERVIEW ===
Number of rows: 1000
Number of columns: 6
Data types:
customer_id                  int64
product_category            object
purchase_amount            float64
customer_age               float64
region                      object
purchase_date       datetime64[ns]
dtype: object

=== MISSING VALUES ===
purchase_amount    30
customer_age       50
dtype: int64

=== BASIC STATISTICS ===
       customer_id  purchase_amount  customer_age        purchase_date
count  1000.000000       970.000000    950.000000                 1000
mean    500.500000       102.237702     39.606675  2024-05-14 12:00:00
min       1.000000         2.295949    -12.071448  2023-01-01 00:00:00
25%     250.750000        50.530915     29.523768  2023-09-07 18:00:00
50%     500.500000        87.013091     39.613832  2024-05-14 12:00:00
75%     750.250000       135.077412     50.306363  2025-01-19 06:00:00
max    1000.000000       389.344521     85.929204  2025-09-26 00:00:00
std     288.819436        69.046010     14.688192                  NaN

### 5.3 Identifying Data Quality Issues

In [23]:
def assess_data_quality(df):
    """Comprehensive data quality assessment"""
    quality_report = {}
    
    # Completeness
    completeness = (1 - df.isnull().sum() / len(df)) * 100
    quality_report['completeness'] = completeness
    
    # Duplicates
    duplicates = df.duplicated().sum()
    quality_report['duplicates'] = duplicates
    
    # Outliers (for numerical columns)
    numerical_cols = df.select_dtypes(include=[np.number]).columns
    outliers = {}
    
    for col in numerical_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outlier_count = ((df[col] < lower_bound) | (df[col] > upper_bound)).sum()
        outliers[col] = outlier_count
    
    quality_report['outliers'] = outliers
    
    return quality_report

# Assess our sample data
quality_results = assess_data_quality(sample_data)
print("=== DATA QUALITY ASSESSMENT ===")
print(f"Duplicates: {quality_results['duplicates']}")
print(f"Outliers per column: {quality_results['outliers']}")
print(f"Completeness per column:\n{quality_results['completeness']}")

=== DATA QUALITY ASSESSMENT ===
Duplicates: 0
Outliers per column: {'customer_id': 0, 'purchase_amount': 31, 'customer_age': 3}
Completeness per column:
customer_id         100.0
product_category    100.0
purchase_amount      97.0
customer_age         95.0
region              100.0
purchase_date       100.0
dtype: float64

## üìù Practical Exercises

### Exercise 1: Environment Setup Verification

1. Create a new Jupyter notebook
2. Import all required libraries (pandas, numpy, matplotlib, seaborn)
3. Create a simple DataFrame with sample data
4. Display basic information about your DataFrame

```python
# Your code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Create your own sample dataset
# Hint: Use at least 3 columns with different data types
```

### Exercise 2: Data Quality Analysis

Using the provided sample dataset:

1. Calculate the percentage of missing values for each column
2. Identify the data types of each column
3. Find any duplicate rows
4. Create a simple visualization showing the distribution of one numerical column

```python
# Your analysis code here
```

### Exercise 3: Ethics Reflection

Write a brief reflection (200-300 words) addressing the following questions:

1. What ethical considerations should be taken into account when analyzing customer purchase data?
2. How would you ensure privacy protection while still extracting valuable business insights?
3. What potential biases might exist in retail sales data, and how could they impact analysis results?

*Write your reflection in the markdown cell below:*

---

## üéØ Session Deliverables

### 1. Python Environment Setup
- [ ] Python 3.8+ installed
- [ ] Jupyter Notebook functional
- [ ] All required libraries imported successfully
- [ ] Sample notebook with basic operations completed

### 2. Data Ethics Reflection
Complete the ethics reflection exercise addressing:
- Privacy considerations in data analysis
- Potential sources of bias
- Strategies for ethical data handling

### 3. Basic Python Exercises
Demonstrate competency in:
- Creating and manipulating DataFrames
- Basic data inspection techniques
- Identifying data quality issues
- Simple data visualization

---

## üìö Additional Resources

### Essential Reading
- **Python for Data Analysis** by Wes McKinney (Chapter 1-3)
- **The Data Science Ethics** by DJ Patil (Introduction)
- **GDPR Guidelines** - ICO Data Protection Guide

### Online Resources
- [Pandas Documentation](https://pandas.pydata.org/docs/)
- [Matplotlib Tutorials](https://matplotlib.org/stable/tutorials/index.html)
- [Ethics in AI and Data Science](https://www.partnershiponai.org/about/)

### Next Session Preview
In Session 2, we'll dive deep into data preparation and cleaning techniques, learning how to handle missing values, outliers, and data transformation challenges.

---

## ü§ù Getting Help

- **Course Forum:** Post questions and share insights with peers
- **Email:** To be Updated
- **Documentation:** Always check official library documentation first

Remember: The best way to learn data analysis is by doing. Experiment with the code, ask questions, and don't be afraid to make mistakes ‚Äì they're part of the learning process!


---

*"Data is the new oil, but like oil, it needs to be refined to be valuable."* - Mathematical Processing